[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
Package/
[Pp]ackages/
*.suo
*.user
_ReSharper*/
_TeamCity*/
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.ReSharper
**/*.user
**/*.suo
*.ReSharper/
*.svclog
*.sqlsuo
*.dbmdl
logs/
error logs/
publish/Packages
*.schemaview
*.[Cc]ache
*.[Ll]og
*.docstates
*.dotCover
packages
.tcdiff
*.dat